
body{
  height:940px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.arriba{
  text-align: center;
  font-size: 60px;
  background: linear-gradient(#f2f2f2, #D9D9D9);
}
main {
  background: linear-gradient(#D9D9D9, #A6A6A6);
  height: 50%;
}

h1{
  padding-top: 60px;
  padding-bottom: 20px;
  color: black;
  
}


.sectionprincipal{
  width: 400px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  margin: 0 auto;
}
#labelingreso{
  display: inline-block;
  width: 60%;
  font-size: 16px;
  color: azure;
}
.sectionprincipal select{
  width:40%;
  height: 45px;
  font: 300 16px Arial;
  border-radius: 15px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  color: #931dff;
  border: 1px solid #616161;
  background: #f2f2f2;
  
}

.sectionprincipal select::-ms-expand {
  display: none;
}
.sectionprincipal select:focus{
  outline: none;
  box-shadow: 0 0 10px -1px #931dff;


}

.itemsop{
  text-align: center;
}

.seccionNotas{
  text-align: center;
}
.sectionsecundaria{
  display: inline-block;
  margin-top: 20px;
  width: 400px;
  background-color:#8C8C8C;
  box-shadow: 10px 10px 30px 15px #000;
  border-radius: 12px;
  padding: 5px;
  
}

#inputContainer{
  color: #F2F2F2;
  width: 400px;
  font-weight: bold;
  text-align: left;
  
  display: inline-block;
}

.etiquetainputs{
  width: 15%; 
  display: inline-block; 
  text-align: left;
  
  vertical-align: middle; 
}
.cuadroinputsnotas{
  width: 50%;
  border-radius: 5px;
  outline: none;
  
}
.InputPromedio{
  width: 20%;
  border-radius: 5px;
  outline: none;
  margin-left: 30px;
}
#promedioContainer{
  margin-top: 10px;
}

.boton {
  width: 80px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  border: none;
  color: #f2f2f2;
  background-color: #3a9132;
  cursor: pointer;
  border-radius: 5px;
}

.boton:hover {
  background-color: #3d7f37;
}

footer{

  background: linear-gradient(#A6A6A6, #262626);
  
}
@media screen and (max-width:480px) {
  h1{ 
      text-align: center;
      position: static;

  }
  .arriba,.container,.sectionprincipal,.seccionNotas{
      width: auto;
  }
  
  footer{
    height: 100px;
  }
  
}