
body{
  background: linear-gradient(#f2f2f2, #262626);
  
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0; /* Eliminar el margen predeterminado del cuerpo */
  padding: 0; /* Eliminar el relleno predeterminado del cuerpo */
}

.arriba{
  text-align: center;
  font-size: 60px;

}


h1{
  padding-top: 60px;
  padding-bottom: 20px;
  color: black;
  
}


.sectionprincipal{
  width: 400px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  margin: 0 auto;
}
#labelingreso{
  display: inline-block;
  width: 60%;
  font-size: 16px;
  color: azure;
}
.sectionprincipal select{
  width:40%;
  height: 45px;
  font: 300 16px Arial;
  border-radius: 15px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  color: #931dff;
  border: 1px solid #616161;
  background: #f2f2f2;
  
}

.sectionprincipal select::-ms-expand {
  display: none;
}
.sectionprincipal select:focus{
  outline: none;
  box-shadow: 0 0 10px -1px #931dff;


}

.itemsop{
  text-align: center;
}

.seccionNotas{
  text-align: center;
}
.sectionsecundaria{
  display: inline-block;
  margin-top: 45px;
  width: 400px;
  background-color:#8C8C8C;
  box-shadow: 10px 10px 30px 15px #000;
  border-radius: 12px;
  padding: 5px;
  
}

#inputContainer{
  color: #F2F2F2;
  width: 400px;
  font-weight: bold;
  text-align: left;
  
  display: inline-block;
}
#inputContainer input[type=number]::-webkit-inner-spin-button,
#inputContainer input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#inputContainer input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.etiquetainputs{
  width: 15%; 
  display: inline-block; 
  text-align: left;
  
  vertical-align: middle; 
}
.cuadroinputsnotas{
  width: 50%;
  height: 20px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 5px;
  
}
.InputPromedio{
  width: 20%;
  height: 20px;
  border-radius: 5px;
  outline: none;
  margin-left: 20px;
}
#promedioContainer{
  margin-top: 10px;
}

.boton {
  width: 80px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  border: none;
  color: #f2f2f2;
  background-color: #3a9132;
  cursor: pointer;
  border-radius: 5px;
}

.boton:hover {
  background-color: #3d7f37;
}

@media screen and (max-width:480px) {
  body{
    min-height: 104vh;
  }
  h1{ 
    text-align: center;
    position: static;

  }
  
  .arriba,.sectionprincipal,.seccionNotas{
    width: auto;
  }
  .sectionprincipal{
    margin-left: 10px;
  }

  .sectionsecundaria{
    margin-left: 10px;
    margin-right: 10px;
  }
  
}